<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>정산관리</title>
  </head>
    <!-- Content 시작 -->
    <div layout:fragment="content" class="col">
      <div class="row">
          <h4 class="text-primary">정산관리</h4>
          <div class="row mb-2">
            <div class="col">
              <div class="input-group">
                <div class="input-group-text">작업자명</div>
                <input type="text" class="form-control" id="userNm" placeholder="작업자 명" aria-label="작업자 명">
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <div class="input-group">
                <div class="input-group-text">정산일</div>
                <input type="date" class="form-control" id="settleBeginDate">
                <span>~</span>
                <input type="date" class="form-control" id="settleEndDate">
              </div>
            </div>
          </div>
          <div id="toolbar">
            <button id="btnCreateSettle" class="btn btn-primary">
              <i class="bi bi-calculator-fill"></i> 정산하기
            </button>
          </div>
          <table
            id="table-settle"
            data-toolbar="#toolbar"
            data-search="false"
            data-show-columns="true"
            data-pagination="true"
            data-pagination-loop="false"
            data-click-to-select="true"
            data-id-field="setleSeq"
            data-side-pagination="server"
            data-server-sort="true"
            data-detail-view="true"
            data-detail-formatter="fnObj.grid.detailFormatter"
            th:data-url="@{/checker/settle/page_settle_info.json}">
          </table>
      </div>
      <!-- modal -->
      <div class="modal-staging">
        <!--/* 정산 하기 */-->
        <div class="modal fade" id="createSettle" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-focus="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">정산 하기</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <h5 class="text-primary">정산 대상 및 미 정산 금액</h5>                
                  <table
                    id="table-total"
                    data-search="false"
                    data-toggle="table"
                    data-id-field="workerSeq"
                    th:data-url="@{/checker/settle/list_worker_settle_info.json}">
                  </table>
                </div> 
                <div class="row">
                  <h5 class="text-primary">정산 대상 작업 목록</h5>  
                  <div id="workToolbar">
                    <button id="btnCreateSettle" class="btn btn-success">
                      <i class="bi bi-calculator"></i> 정산
                    </button>
                  </div>              
                  <table
                    id="table-work"
                    data-toolbar="#workToolbar"
                    data-search="true"
                    data-toggle="table"
                    data-id-field="workSeq"
                    th:data-url="@{/checker/settle/list_worker_work.json}">
                  </table>
                </div>
              </div>
              <div class="modal-footer row">
                <div class="col-auto me-auto">
                  <button type="button" class="btn btn-primary" id="btnCreateSettle">정산</button>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- modal -->
    </div>
    <script language="javascript" type="text/javascript" layout:fragment="page_script">
      let token = $("meta[name='_csrf']").attr("content"); 
      let header = $("meta[name='_csrf_header']").attr("content");
        
      $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(header, token); 
      });

      var fnObj = {
        pageStart:  function(){ // 페이지 초기 실행 스크립트
          
          $("#userNm").bind("change", function(){
            fnObj.action.reloadMainList();
          });
          
          $("#settleBeginDate").bind("change", function(){
            fnObj.action.reloadMainList();
          });
          
          $("#settleEndDate").bind("change", function(){
            fnObj.action.reloadMainList();
          });
          
          $("#btnCreateSettle").bind("click", function(){            
            fnObj.grid.init_total();
            $("#createSettle").modal("show");
          });
          
          fnObj.page.init();
        },
        page: {
          init: function(){ // 
            fnObj.grid.init_settle();
          }
        },
        action: { // 호출이나 화면 동작
          reloadMainList: function(){
            $('#table-settle').bootstrapTable('refresh');
          }
        },
        grid: { // 그리드 관련
          init_settle: function(){
            $('#table-settle').bootstrapTable('destroy').bootstrapTable({
              height: 'auto',
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              headerStyle : function(){
                return {classes: 'table-primary'};
              },
              columns: [
                {field: 'setleSeq',  title: '정산순번', visible: false, sortable: true},
                {field: 'userSeq', title: '작업자순번', visible: false, sortable: true},
                {field: 'userNm',  title: '작업자명', align: 'center',valign:'middle', sortable: true},
                {field: 'setleDt',   title: '정산일', align: 'center',valign:'middle', sortable: true},
                {field: 'totalSetlePoint', title: '정산포인트', align: 'center',valign:'middle', sortable: true
                 ,formatter: function(value, row, index) {
                    return value.toLocaleString();
                  }
                },                
                {field: 'setleCont',   title: '내용', visible: false}
              ],
              responseHandler: function (data) { // 데이터 처리
                  data.rows = data.content; // 이름을 변경해 줘야 한다.
                  delete data.content;
                  $.each(data.row, function (i, row) {
                    row.state = $.inArray(row.todoSeq, selections) !== -1
                  })
                  data.total = data.totalElements;
                  data.totalNotFiltered = data.totalElements;

                  return data;
              },
              queryParams: function(params){
                if(params.offset !== undefined){
                  params.size = params.limit;
                  params.page = params.offset/params.limit;
                }else{
                  params.size = 10000;
                  params.page = 0;
                }
                
                if($("#userNm").val() !== ''){
                  params.userNm = $("#userNm").val();
                }
                if($("#settleBeginDate").val() !== ''){
                  params.settleBeginDate = $("#settleBeginDate").val();
                }
                if($("#settleEndDate").val() !== ''){
                  params.settleEndDate = $("#settleEndDate").val();
                }
                return params;
              }
            });
            
            $('#table-settle').on('post-body.bs.table', function(data){
              $("th.detail").addClass('table-primary');    
            });        
          },
          detailFormatter: function(index, row){
            var html = [];
            html.push('<table class="table">');
            html.push('<thead>');
            html.push('<tr><th scope="col">#</th><th scope="col">작업명</th><th scope="col">포인트</th><th scope="col">작업시간</th></tr>');
            html.push('</thead><tbody>');
            let cnt = 1;
            row.listTdWork.forEach((ele)=>{
              html.push('<tr>');  
              html.push('<td>' + cnt++ + '</td>');
              html.push('<td>' + ele.workTitl + '</td>');
              html.push('<td>' + ele.gainPoint + '</td>');
              html.push('<td>' + ele.workDt + '</td>');
              html.push('</tr>');
            });
            html.push('</tbody></table>');
            return html.join('');
          },
          init_total: function(){
            $('#table-total').bootstrapTable('destroy').bootstrapTable({
              height: 'auto',
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              headerStyle : function(){
                return {classes: 'table-primary'};
              },
              columns: [
                {checkbox: true, formatter: function(value, row, index) {
                    return true;
                  }
                },
                {field: 'workerSeq',     title: '작업자순번',  visible: false},
                {field: 'workerNm',      title: '작업자',     align: 'center',valign: 'middle', sortable: true},
                {field: 'unSettlePoints',  title: '미정산포인트', align: 'right',valign: 'middle', sortable: true,
                  formatter: function(value, row, index) {
                    return value.toLocaleString();
                  }   
                },
                {field: 'settlePoints',title: '누적포인트',   align: 'right',valign: 'middle', sortable: true,
                  formatter: function(value, row, index) {
                    return value.toLocaleString();
                  }    
                }
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              }
            });
            $('#table-total').on('load-success.bs.table', function(data){
              fnObj.grid.init_work();
            });
            $('#table-total').on('post-body.bs.table', function(data){
              $("table#table-total th").addClass('table-primary');
            });
          },
          init_work: function(){
            $('#table-work').bootstrapTable('destroy').bootstrapTable({
              height: 'auto',
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              headerStyle : function(){
                return {classes: 'table-primary'};
              },
              columns: [
                {checkbox: true, formatter: function(value, row, index) {
                    return true;
                  }
                },
                {field: 'workSeq',   title: '작업순번',  visible: false},
                {field: 'workerSeq', title: '작업자순번', visible: false},
                {field: 'workerNm',  title: '작업자명', align: 'left',valign: 'middle', sortable: true},
                {field: 'workTitl',  title: '작업명', align: 'left',valign: 'middle', sortable: true},
                {field: 'workStatCd',title: '상태',align: 'center',valign: 'middle', sortable: true
                  ,formatter: function(value, row, index) {
                    if(value === 'READY'){
                      return '대기'
                    }else if(value === 'ONGOING'){
                      return '확인중';
                    }else if(value === 'FAIL'){
                      return '실패';
                    }else if(value === 'DONE'){
                      return '완료';
                    }else{
                      return value
                    }
                  }
                },
                {field: 'gainPoint', title: '포인트',  align: 'center'  ,valign: 'middle', sortable: true
                 ,formatter: function(value, row, index) {
                    return value.toLocaleString();
                  }
                },
                {field: 'workDt',    title: '작업일시',  align: 'center'  ,valign: 'middle', sortable: true, visible: false},
                {field: 'confmDt',   title: '확인일시',  align: 'center'  ,valign: 'middle', sortable: true, visible: false},
                
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              },
              queryParams: function(params){
                const pData = $('#table-total').bootstrapTable('getSelections');
                if(pData != null && pData.length > 0){
                   params.listWorkerSeq = pData.map(function(data){
                     return data.workerSeq;                   
                   });
                }                 
                return params;
              }
            });            
            $('#table-work').on('post-body.bs.table', function(data){
              $("table#table-work th").addClass('table-primary');
            });
          }
        }
      }
        
      window.addEventListener("load", function(){
        fnObj.pageStart();
      });
    </script>
  <!-- Content 종료 -->
</html>