<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>오늘의 작업계획</title>
  </head>
  <body>
    <!-- Content 시작 -->
    <div layout:fragment="content" class="col">
      <div class="row">
          <h4 class="text-primary">작업자별 오늘의 작업계획</h4>
          <div class="row mb-2">
            <div class="col">
              <div class="input-group">
                <div class="input-group-text">작업명</div>
                <input type="text" class="form-control" id="workTitl" placeholder="작업명" aria-label="작업명">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <div class="input-group-text">작업자</div>
                <input type="text" class="form-control" id="workerNm" placeholder="작업자 명" aria-label="작업자 명">
              </div>
            </div>
          </div>
          <div class="row  mb-2">
            <div class="col">
              <div class="input-group">
                <div class="input-group-text">상 태</div>
                <select class="form-select" id="workStatCd">
                  <option value="">전체</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <div class="input-group-text">작업일</div>
                <input type="date" class="form-control" id="workDate">
              </div>
            </div>
          </div>
          <table
            id="table-planwork"
            data-search="true"
            data-show-columns="true"
            data-click-to-select="true"
            data-id-field="workSeq"
            th:data-url="@{/checker/today_plan/list_today_workinfo.json}">
          </table>
      </div>
      <!-- modal -->
      <div class="modal-staging">
        <!--/* 작업 등록 */-->
        <div class="modal fade" id="conformWork" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-focus="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">작업 확인</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <input type="hidden" id="workSeq">
                <div class="input-group mb-2">
                  <span class="input-group-text" id="basic-addon1">제목</span>
                  <input type="text" class="form-control" id="workTitle" readonly>
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text">내용</span>
                  <textarea class="form-control" id="workCont" readonly></textarea>
                </div>
                <div class="input-group mb-2" id="divWorkDt">
                  <span class="input-group-text" id="basic-addon1">작업시간</span>
                  <input type="text" class="form-control" id="workDt" readonly>
                </div>
              </div>
              <div class="modal-footer row">
                <div class="col-auto me-auto">
                    <button type="button" class="btn btn-primary" id="btnSaveWork">등록</button>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- modal -->
    </div>
    <script language="javascript" type="text/javascript" layout:fragment="page_script">
      let token = $("meta[name='_csrf']").attr("content"); 
      let header = $("meta[name='_csrf_header']").attr("content");
        
      $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(header, token); 
      });

      var fnObj = {
        pageStart:  function(){ // 페이지 초기 실행 스크립트
          fnObj.page.init();
          
          $("#workTitl").bind("change", function(){
            fnObj.action.reloadMainList();
          });
          
          $("#workDate").bind("change", function(){
            fnObj.action.reloadMainList();
          });
          
          $("#workerNm").bind("change", function(){
            fnObj.action.reloadMainList();
          });
          
          $("#workStatCd").bind("change", function(){
            fnObj.action.reloadMainList();
          });
          
        },
        page: {
          init: function(){ // 버튼 바인딩 등
            fnObj.action.initCmCodeData("WORK_STAT_CD", "#workStatCd").then(function(){
              fnObj.grid.init_PlanWork();
            });
          }
        },
        action: { // 호출이나 화면 동작
          reloadMainList: function(){
            $('#table-planwork').bootstrapTable('refresh')
          },
          initCmCodeData: function(grpCdNm, targetId){
            return $.ajax({
              url: "[[@{/common/code_dtl_list.json}]]",
              type: "GET",
              async: true,
              dataType : "json",
              data : {grpCd:grpCdNm}
            }).done(function(data, textStatus, xhr){
              for(var i = 0; i < data.length; i++ ){
                $(targetId).append("<option value='" + data[i].cd + "'>" + data[i].cdNm + "</option>");
              }
            }).fail(function(xhr, textStatus, errorThrown) {
              Swal.fire({
                title: xhr.responseJSON.httpStatus,
                text: xhr.responseJSON.message,
                icon: 'error',
                confirmButtonText: '닫기'
              });
            });
          }
        },
        grid: { // 그리드 관련
          init_PlanWork: function(){
            $('#table-planwork').bootstrapTable('destroy').bootstrapTable({
              height: 'auto',
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              headerStyle : function(){
                return {classes: 'table-primary'};
              },
              columns: [
                {field: 'workSeq',       title: '작업순번',  visible: false},
                {field: 'workerSeq',     title: '작업자순번', visible: false},
                {field: 'workerNm',      title: '작업자', align: 'center',valign: 'middle', sortable: true},
                {field: 'workTitl',      title: '작업명', align: 'center',valign: 'middle', sortable: true},
                {field: 'workStatCd',    title: '작업상태',align: 'center',valign: 'middle', sortable: true
                  ,formatter: function(value, row, index) {
                    let size = $("#workStatCd option").length;                    
                    for(let i = 0; i < size; i++){
                      let option = $("#workStatCd option")[i];
                      if(value === option.value){
                        return option.text;
                      }
                    };
                    return '-';
                  }
                },
                {field: 'gainPoint',     title: '포인트',  align: 'center'  ,valign: 'middle', sortable: true
                 ,formatter: function(value, row, index) {
                    return value.toLocaleString();
                  }
                },
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              },
              queryParams: function(params){
                if($("#workTitl").val() !== ''){
                  params.workTitl = $("#workTitl").val();
                }

                if($("#workDate").val() !== ''){
                  params.workDate = $("#workDate").val();
                }
                if($("#workerNm").val() !== ''){
                  params.workerNm = $("#workerNm").val();
                }
                
                if($("#workStatCd").val() !== ''){
                  params.workStatCd = $("#workStatCd").val();
                }     
                             
                return params;
              }
            });
            
            // merge
            $('#table-planwork').on('post-body.bs.table', function(data){
              let getData = $('#table-planwork').bootstrapTable('getData');
              
              if(getData.length){
                let workerNm = null;
                let mergeData = [];                  
                let start = -1;
                let end = 0;
                for(let i = 0; i < getData.length; ){                    
                  if(workerNm !== getData[i].workerNm){
                    end = i - 1; // 마지막을 기록
                    if(start >= 0){ // 0이면 처음...
                      mergeData.push({"begin": start, "end": end});
                    }
                    start = i;
                    workerNm = getData[i].workerNm;
                  }
                  
                  if(i === (getData.length -1)){
                    end = i;
                    mergeData.push({"begin": start, "end": end});
                  }
                  i++;
                }
                for(let i =0; i < mergeData.length; i++){
                  $('#table-planwork').bootstrapTable('mergeCells', {
                    index: mergeData[i].begin,
                    field: 'workerNm',
                    colspan: 1,
                    rowspan: ((mergeData[i].end + 1) - mergeData[i].begin)
                  })
                }                  
              }                
            });
            // row click
            $('#table-planwork').on('click-row.bs.table', function(event, row, field){
              $("#workTitle").val(row.workTitl);
              $("#workCont").val(row.workCont);
              $("#workCont").height(100);              
              if(row.workDt !== null){
                $("#workDt").val(row.workDt); 
              }else{
                $("#divWorkDt").hide();
              }
              
              $("#conformWork").modal("show");
            });
          }        
        }
      }
        
      window.addEventListener("load", function(){
        fnObj.pageStart();
      });
    </script>
  <!-- Content 종료 -->
  </body>
</html>