<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>사용자관리</title>
	</head>

	<!--/* Content 시작 */-->
	<body>
		<section>
		    <div layout:fragment="content"style="padding-top:50px;"  class="col">
				
				<section class="searchBox">
					<div class="container">
					  <div class="row">
					    <div class="col">
					      Column
					    </div>
					    <div class="col">
					      Column
					    </div>
					    <div class="col">
					      Column
					    </div>
					  </div>
					</div>		
				</section>
				<section class="searchResult">
			        <div class="container text-center">
			            <h1 class="text-primary">여기는 사용자관리 페이지 입니다.</h1>
			        </div>
			    </section>
		    </div>		
		</section>
	</body>
	<!--/* Content 종료 */-->
</html>