<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>사용자관리</title>
    <style>
      /* 사용자 정의 css */
    </style>
  </head>

  <!--/* Content 시작 */-->
  <body>
    <div layout:fragment="content" class="col">
      <div class="row border border-secondary-subtle p-2">
        <div class="col-2">
          <label for="search_email" class="form-label mt-2">E-Mail</label>
        </div>
        <div class="col-4">
          <input type="search" class="form-control" id="search_email" placeholder="name@example.com">
        </div>
        <div class="col-2">
          <label for="search_username" class="form-label mt-2">사용자명</label>
        </div>
        <div class="col-4">
          <input type="search" class="form-control" id="search_username" placeholder="홍길동">
        </div>
        <div class="col-2">
          <label for="search_userTelNo" class="form-label mt-2">전화번호</label>
        </div>
        <div class="col-4">
          <input type="search" class="form-control" id="search_userTelNo" placeholder="010-0000-0000">
        </div>
        <div class="col-2">
          <label for="search_roleSeq" class="form-label mt-2">역할</label>
        </div>
        <div class="col-4">
          <select class="form-select" id="search_roleSeq">
            <option value="">전체</option>
          </select>
        </div>
        <div class="mt-2">
        <a class="btn btn-primary float-end" id="btnSearch">
          <i class="fa-solid fa-magnifying-glass"></i> 조회
        </a>
        </div>
      </div>
      <div class="row" id="grid-body">
        <!-- List begin. -->
        <div id="toolbar">
          <button id="remove" class="btn btn-danger chg-btn" disabled>
            <i class="bi bi-trash"></i> 삭제
          </button>
          <button id="chg-passwd" class="btn btn-secondary chg-btn" title="사용자 패스워드 변경" data-bs-toggle="modal" data-bs-target="#popupChgUserPwd" disabled>
            <i class="bi bi-file-earmark-lock"></i> 비밀번호변경
          </button>
          <button id="btnPopChgRole" class="btn btn-secondary chg-btn"  title="사용자 역할 변경" data-bs-toggle="modal" data-bs-target="#popupChgUserRole" disabled>
            <i class="bi bi-gear"></i> 권한조정
          </button>
        </div>
        <table
          id="table"            
          data-toolbar="#toolbar"
          data-show-refresh="true"
          data-show-fullscreen="true"
          data-show-columns="true"
          data-show-columns-toggle-all="true"
          data-show-copy-rows="true"
          data-click-to-select="true"
          data-minimum-count-columns="2"
          data-pagination="true"
          data-pagination-loop="false"
          data-id-field="userSeq"
          data-page-list="[10, 25, 50, 100]"
          data-side-pagination="server"
          data-server-sort="true"
          th:data-url="@{/system/user_mgt/user_info_list.json}"
          data-resizable="true">
        </table>
        <!-- List end. -->
      </div>
      <!-- modal -->
      <div class="modal-staging">
          <!--/* 사용자 정보 편집 */-->
        <div class="modal fade" id="popupUserInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">사용자 정보</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3 row">
                  <label for="userNm" class="col-sm-4 col-form-label">사용자명</label>
                  <div class="col-sm-8">
                  <input type="hidden" id="userSeq">
                    <input type="text" class="form-control" id="userNm">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="loginId" class="col-sm-4 col-form-label">이메일</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="loginId" placeholder="email@example.com">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="userTelNo" class="col-sm-4 col-form-label">전화번호</label>
                  <div class="col-sm-8">
                    <input type="tel" class="form-control" id="userTelNo">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="acuntExpDt" class="col-sm-4 col-form-label">계정만료일</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="acuntExpDt">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-4 col-form-label">역할(권한)</label>
                  <div class="col-sm-8">
                    <ul class="list-group role-list"></ul>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="userStatCd" class="col-sm-4 col-form-label">계정상태</label>
                  <div class="col-sm-8">
                    <select class="form-select" id="userStatCd"></select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="loginFailCnt" class="col-sm-4 col-form-label">로그인실패횟수</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" id="loginFailCnt">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="loginDt" class="col-sm-4 col-form-label">최종로그인일시</label>
                  <div class="col-sm-8">
                    <input type="datetime-local" readonly class="form-control-plaintext" id="loginDt">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="lastLoginIp" class="col-sm-4 col-form-label">마지막로그인IP</label>
                  <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" id="lastLoginIp">
                  </div>
                </div>
              </div>
              <div class="modal-footer row">
              <div class="col-auto me-auto">
                  <button type="button" class="btn btn-primary" id="btnSaveUserInfo">저장</button>
              </div>
                <div class="col-auto">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--/* 사용자 패스워드 변경 */-->
        <div class="modal fade" id="popupChgUserPwd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">패스워드 일괄 변경</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3 row">
                  <label for="popAcuntExpDt" class="col-sm-4 col-form-label">계정만료일</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="popAcuntExpDt">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="userPwd" class="col-sm-4 col-form-label">새로운 패스워드</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="userPwd">
                  </div>
                </div>
              </div>
              <div class="modal-footer row">
              <div class="col-auto me-auto">
                  <button type="button" class="btn btn-primary" id="btnSaveUserPwd">패스워드 변경</button>
              </div>
                <div class="col-auto">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--/* 사용자 역할 지정 */-->
        <div class="modal fade" id="popupChgUserRole" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">사용자 역할 변경</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3 row">
                  <label class="col-sm-4 col-form-label">역할(권한)</label>
                  <div class="col-sm-8">
                    <ul class="list-group role-list"></ul>
                  </div>
                </div>
              </div>
              <div class="modal-footer row">
                <div class="col-auto me-auto">
                    <button type="button" class="btn btn-primary" id="btnSaveUserRole">역할 변경</button>
                </div>
                  <div class="col-auto">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- modal -->  
    </div>
    <script language="javascript" type="text/javascript" layout:fragment="page_script">
      var $table = $('#table');
      var $remove = $('#remove');
      var selections = [];
      
      var fnObj = {
        pageStart: function(){ // 화면 오픈 시 document.body.readㅛ
          fnObj.page.init();    
        },
        page: { // 화면의 기본적인 설정
          init : function(){ // 화면 초기화
            window.operateEvents = { // 그리드 내 버튼 이벤트
			        'click .userinfo-edit': function (e, value, row, index) {          
			          fnObj.action.setUserInfo(row);
			        }
			      };
          
            $("#btnSearch").bind("click", function(){ // 조회 
              $table.bootstrapTable('selectPage', 1);
            });
            
            $("#btnSaveUserInfo").bind("click", function(){ // 조회 
              fnObj.action.saveUserInfo();
            });
            
            $("#btnSaveUserPwd").bind("click", function(){ // 패스워드 저장
              fnObj.action.chgUserPwd();
            });
            
            $("#btnSaveUserRole").bind("click", function(){ // 역할 저장 
              fnObj.action.chgUserRole();
            });
            
            document.getElementById('popupChgUserRole').addEventListener('shown.bs.modal', function(){
                $('#popupChgUserRole .role-list .list-group-item > input:checkbox[name="roleSeqList"]').prop("checked", false);  
            });
            
            fnObj.page.setComponentData().then((res) =>{
              fnObj.grid.init();
            });
          },
          setComponentData: async function(){ // 조회 조건의 역할 데이터를 초기화 한다.            
            await  $.get("[[@{/common/role_list.json}]]", {},
                function(data, status) {
                if(status === 'success'){
                  for(var i = 0; i < data.length; i++ ){
                    $("#search_roleSeq").append("<option value='" + data[i].roleSeq + "'>" + data[i].roleNm + "</option>");
                    $(".role-list").append('<li class="list-group-item"><input class="form-check-input me-1" type="checkbox" name="roleSeqList" value="'+ data[i].roleSeq +'" id="roleSeq-'+ data[i].roleSeq +'">' 
                    + '<label class="form-check-label" for="roleSeq-'+ data[i].roleSeq +'">' + data[i].roleNm + '</label></li>');
                  }
                }
                }
            );
            
            await $.get("[[@{/common/code_dtl_list.json}]]", {grpCd:'USER_STAT_CD'},
                function(data, status) {
                if(status === 'success'){
                  for(var i = 0; i < data.length; i++ ){
                    $("#userStatCd").append("<option value='" + data[i].cd + "'>" + data[i].cdNm + "</option>");
                  }
                }
                }
            );
          }
        },
        action: { // 동작에 관련된 행위를 한다.
          setUserInfo: function(userInfo){
            fnObj.action.initUserInfo();
            
            $("#popupUserInfo #userSeq").val(userInfo.userSeq);
            $("#popupUserInfo #userNm").val(userInfo.userNm);
            $("#popupUserInfo #loginId").val(userInfo.loginId);
            $("#popupUserInfo #userTelNo").val(userInfo.userTelNo);
            $("#popupUserInfo #acuntExpDt").val(userInfo.acuntExpDt);
            
            if(userInfo.cmRoleList){
              for (var i = 0; i < userInfo.cmRoleList.length; i++) {
                $("#popupUserInfo #roleSeq-" + userInfo.cmRoleList[i].roleSeq).prop("checked", true);
              }
            }
            
            $("#popupUserInfo #userStatCd").val(userInfo.userStatCd);
            $("#popupUserInfo #loginFailCnt").val(userInfo.loginFailCnt);
            $("#popupUserInfo #loginDt").val(userInfo.loginDt);
            $("#popupUserInfo #lastLoginIp").val(userInfo.lastLoginIp);
          },
          initUserInfo: function(){
            $("#popupUserInfo #userSeq").val('');
            $("#popupUserInfo #userNm").val('');
            $("#popupUserInfo #loginId").val('');
            $("#popupUserInfo #userTelNo").val('');
            $("#popupUserInfo #acuntExpDt").val('');            
            $('#popupUserInfo .role-list .list-group-item > input:checkbox[name="roleSeqList"]').prop("checked", false);      
            $("#popupUserInfo #userStatCd").val('');
            $("#popupUserInfo #loginFailCnt").val('');
            $("#popupUserInfo #loginDt").val('');
            $("#popupUserInfo #lastLoginIp").val('');
          },
          saveUserInfo: function(){
            
            if($("#popupUserInfo #userSeq").val() === ''){
              Swal.fire({
                title: 'Error!',
                text: '사용자 정보가 없습니다.',
                icon: 'error',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            if($("#popupUserInfo #userNm").val() === ''){
              Swal.fire({
                title: '필수 항목 입력',
                text: '사용자 명은 필수 입력 사항입니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            if($("#popupUserInfo #loginId").val() === ''){
              Swal.fire({
                title: '필수 항목 입력',
                text: '이메일은은 필수 입력 사항입니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            if($("#popupUserInfo #userTelNo").val() === ''){
              Swal.fire({
                title: '필수 항목 입력',
                text: '전화번호는 필수 입력 사항입니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            if($("#popupUserInfo #userStatCd").val() === ''){
              Swal.fire({
                title: '필수 항목 입력',
                text: '계정상태를 선택해야 합니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            if($("#popupUserInfo #loginFailCnt").val() === ''){
              $("#popupUserInfo #loginFailCnt").val(0);
            }            
            
            let userInfo = {};
            userInfo.userSeq = $("#popupUserInfo #userSeq").val();
            userInfo.userNm = $("#popupUserInfo #userNm").val();
            userInfo.loginId = $("#popupUserInfo #loginId").val();
            userInfo.userTelNo = $("#popupUserInfo #userTelNo").val();
            userInfo.acuntExpDt = $("#popupUserInfo #acuntExpDt").val();            
            userInfo.userStatCd = $("#popupUserInfo #userStatCd").val();
            userInfo.loginFailCnt = $("#popupUserInfo #loginFailCnt").val();
            
            userInfo.roleSeqList = []; 
            $('#popupUserInfo input:checkbox[name="roleSeqList"]').each(function() {
              if(this.checked){
                userInfo.roleSeqList.push(this.value);
              }
            });
            
            if(userInfo.roleSeqList.length === 0){
              Swal.fire({
                title: 'Error!',
                text: '최소 하나의 역할이 있어야 합니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            
            $.ajax({
              url: "[[@{/system/user_mgt/chg_user_info.json}]]", 
              type: "PUT",
              async: true,
              dataType : "json",
              data : userInfo, 
              success: function(data, status){
                if(status === 'success'){
                  $("#popupUserInfo").modal("hide");
                  var pageIdx = $("li.page-item.active > .page-link").text();
                  $table.bootstrapTable('selectPage', Number(pageIdx));
                }else{
                  Swal.fire({
                    title: 'Error!',
                    text: '저장 중 문제가 발생했습니다.',
                    icon: 'error',
                    confirmButtonText: '닫기'
                  });
                }
              }
            });
          },
          chgUserPwd : function(){ // 사용자 패스워드 변경
            if($("#popupChgUserPwd #popAcuntExpDt").val() === ''){
              Swal.fire({
                title: '필수 항목 입력',
                text: '계정만료일을 입력하세요.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            };
            if($("#popupChgUserPwd #userPwd").val() === ''){
              Swal.fire({
                title: '필수 항목 입력',
                text: '신규 패스워드를 입력하세요.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            };
            
            let saveUserPwd = {};
            
            saveUserPwd.userSeqList = fnObj.grid.getIdSelections();                        
            if(saveUserPwd.userSeqList === 0){
              Swal.fire({
                title: '필수 항목 입력',
                text: '변경할 사용자를 선택해 주세요.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            saveUserPwd.chgPwd = $("#popupChgUserPwd #userPwd").val();
            saveUserPwd.acuntExpDt = $("#popupChgUserPwd #popAcuntExpDt").val();
            
            $.ajax({
              url: "[[@{/system/user_mgt/bulk_chg_user_pwd.json}]]", 
              type: "PUT",
              async: true,
              dataType : "json",
              data : saveUserPwd, 
              success: function(data, status){
                if(status === 'success'){
                  $("#popupChgUserPwd").modal("hide");
                  Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: '변경 되었습니다.',
                    showConfirmButton: false,
                    timer: 1500
                  });
                }else{
                  Swal.fire({
                    title: 'Error!',
                    text: '패스워드 변경 중 문제가 발생했습니다.',
                    icon: 'error',
                    confirmButtonText: '닫기'
                  });
                }
              }
            });
          },
          chgUserRole: function(){
            
            let saveUserRole = {};            
            saveUserRole.userSeqList = fnObj.grid.getIdSelections();                        
            if(saveUserRole.userSeqList === 0){
              Swal.fire({
                title: '필수 항목 입력',
                text: '변경할 사용자를 선택해 주세요.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            saveUserRole.roleSeqList = []; 
            $('#popupChgUserRole input:checkbox[name="roleSeqList"]').each(function() {
              if(this.checked){
                saveUserRole.roleSeqList.push(this.value);
              }
            });
            
            
            if(saveUserRole.roleSeqList.length === 0){
              Swal.fire({
                title: 'Error!',
                text: '최소 하나의 역할이 있어야 합니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            $.ajax({
              url: "[[@{/system/user_mgt/chg_bulk_user_role.json}]]", 
              type: "PUT",
              async: true,
              dataType : "json",
              data : saveUserRole, 
              success: function(data, status){
                if(status === 'success'){
                  $("#popupChgUserRole").modal("hide");
                  var pageIdx = $("li.page-item.active > .page-link").text();
                  $table.bootstrapTable('selectPage', Number(pageIdx));
                  
                  Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: '변경 되었습니다.',
                    showConfirmButton: false,
                    timer: 1500
                  });
                }else{
                  Swal.fire({
                    title: 'Error!',
                    text: '역할 변경 중 문제가 발생했습니다.',
                    icon: 'error',
                    confirmButtonText: '닫기'
                  });
                }
              }
            });
          }
        },
        grid: { // 그리드와 관련된 ... 
          init: function(){
            $table.bootstrapTable('destroy').bootstrapTable(
              {
                locale: 'ko-KR',
                classes: 'table table-bordered table-striped table-hover',
                headerStyle : function(){
                  return {classes: 'table-primary'};
                },
                columns: 
                  [
                    [
                      {field: 'state',       checkbox: true,     align: 'center', valign: 'middle', class: 'table-primary', 
                        formatter:function(value, row, index){
                          if(row.userSeq === [[${#authentication.principal.cmUser.userSeq}]]){
                            return {disabled: true}
                          }
                        }
                      },
                      {field: 'userSeq',      title: '사용자순번',   align: 'center', valign: 'middle', visible: false, switchable: false},       
                      {field: 'num',          title: 'No.',       align: 'center', valign: 'middle', sortable: false},  
                      {field: 'loginId',      title: 'Email',    align: 'center', valign: 'middle', sortable: true}, 
                      {field: 'userNm',       title: '사용자명',   align: 'center', valign: 'middle', sortable: true}, 
                      {field: 'userTelNo',    title: '전화번호',    align: 'center', valign: 'middle', sortable: true},                   
                      {field: 'roleNames',    title: '역할',     align: 'center', valign: 'middle', sortable: false},  
                      {field: 'userStatCd',   title: '상태',     align: 'center', valign: 'middle', sortable: true,
                        formatter:function(value, row, index){
                          for(var i = 0; i < $("#popupUserInfo #userStatCd option").length; i++){
                            if(row.userStatCd === $("#popupUserInfo #userStatCd option")[i].value){
                              return $("#popupUserInfo #userStatCd option")[i].text;
                            }
                          }
                          return '';
                        }
                      },
                      {field: 'acuntExpDt',   title: '만료일',     align: 'center', valign: 'middle', sortable: true},
                      {field: 'loginDt',      title: '로그인일시',  align: 'center', valign: 'middle', sortable: true},                   
                      {field: 'lastLoginIp',  title: '로그인IP',    align: 'center', valign: 'middle', sortable: true},                   
                      {field: 'loginFailCnt', title: '실패수',     align: 'center', valign: 'middle', sortable: true}, 
                      {field: 'operate',      title: '상세보기',   align: 'center', valign: 'middle', clickToSelect: false, events: window.operateEvents,
                        formatter: function(value, row, index) {
                          return [
                              '<a class="userinfo-edit" href="javascript:void(0)" title="사용자정보" data-bs-toggle="modal" data-bs-target="#popupUserInfo" >',
                              '<i class="bi bi-pencil-square"></i>',
                              '</a>'
                            ].join('')
                        }
                      }
                    ]
                  ],
                responseHandler: function (data) { // 데이터 처리
                  data.rows = data.content; // 이름을 변경해 줘야 한다.
                  delete data.content;
                  $.each(data.row, function (i, row) {
                    row.state = $.inArray(row.userSeq, selections) !== -1
                  })
                  data.total = data.totalElements;
                  data.totalNotFiltered = data.totalElements;
                  
                  return data;
                },
                queryParams: function(params){
                  if(params.offset !== undefined){
                  params.size = params.limit; 
                    params.page = params.offset/params.limit;  
                  }else{
                  params.size = 10000; 
                    params.page = 0;   
                  }
                  
                  if($("#search_email").val() !== ''){
                    params.loginId = $("#search_email").val();
                  }
                  
                  if($("#search_username").val() !== ''){
                    params.userNm = $("#search_username").val();
                  }
                  
                  if($("#search_userTelNo").val() !== ''){
                    params.userTelNo = $("#search_userTelNo").val();
                  }
                  
                  if($("#search_roleSeq").val() !== ''){
                    params.roleSeq = $("#search_roleSeq").val();
                  }
                  
                  return params;
                }
            });
            $table.on('check.bs.table uncheck.bs.table ' + 'check-all.bs.table uncheck-all.bs.table',
              function () {
                $(".chg-btn").prop('disabled', !$table.bootstrapTable('getSelections').length);
                // save your data, here just save the current page
                selections = fnObj.grid.getIdSelections();
                // push or splice the selections if you want to save all data selections
              }
            )
            $table.on('all.bs.table', function (e, name, args) {
              //console.log(name, args)
            })
            $remove.click(function () {
              Swal.fire({
                title: '삭제 하시겠습니까?',
                text: "되돌릴 수 없습니다.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '삭제!',
                cancelButtonText: '취소',
              })
              .then((result) => {
                  if (result.isConfirmed) {
                  let deleteUsers = {};
                  deleteUsers.userSeqList = fnObj.grid.getIdSelections();
                  deleteUsers.reason = 'nothing';    
                  
                  $.ajax({
                    url: "[[@{/system/user_mgt/remove_bulk_user.json}]]", 
                    type: "DELETE",
                    async: true,
                    dataType : "json",
                    data : deleteUsers, 
                    success: function(data, status){
                      if(status === 'success'){
                        var pageIdx = $("li.page-item.active > .page-link").text();
                        $table.bootstrapTable('selectPage', Number(pageIdx));
                        
                        Swal.fire({
                          title: '완료!',
                          text: "삭제 되었습니다.",
                          icon: 'success',                 
                          confirmButtonText: '확인'                    
                        });
                      }else{
                        Swal.fire({
                          title: 'Error!',
                          text: '삭제처리 중 문제가 발생했습니다.',
                          icon: 'error',
                          confirmButtonText: '닫기'
                        });
                      }
                    }
                  });
                  };
              });
            });
          },
          getIdSelections : function() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
              return row.userSeq
            });
          }
        }
      };
      
      // 페이지 초기 쿼리를 실행한다.
      $(document.body).ready(function () {
          fnObj.pageStart();
      });
    </script>  
  </body>
  <!--/* Content 종료 */-->
</html>