<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>오늘의 작업</title>
  </head>

  <body>
    <!-- Content 시작 -->
    <div layout:fragment="content" class="col">
      <div class="row">
          <h4 class="text-primary">작업 목록</h4>        
          <div class="row">
            <div class="col mb-2">
              <div class="input-group">
                <div class="input-group-text">작업일</div>
                <input type="date" class="form-control" id="workDate">
              </div>
            </div>
          </div>
          <div id="toolbar">
            <button id="btnCreateWork" class="btn btn-success">
              <i class="bi bi-plus-square-dotted"></i> 직접등록
            </button>
          </div>
          <table
            id="table-work"
            data-toolbar="#toolbar"
            data-search="true"
            data-show-columns="true"
            data-click-to-select="true"
            data-id-field="workSeq"
            th:data-url="@{/worker/today_work/list_today_works.json}">
          </table>
      </div>
      <!-- modal -->
      <div class="modal-staging">
        <!--/* 작업 등록 */-->
        <div class="modal fade" id="createWork" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-focus="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">작업 등록</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <input type="hidden" id="workSeq">
                <input type="hidden" id="todoSeq">
                <input type="hidden" id="quizSeq">
                <div class="input-group mb-2">
                  <span class="input-group-text" id="basic-addon1">제목</span>
                  <input type="text" class="form-control" id="workTitl" placeholder="작업명" aria-label="작업명">
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text">내용</span>
                  <textarea class="form-control" placeholder="작업내용" id="workCont"></textarea>
                </div>
                <div class="mb-3 row">
                  <span id="todoGuide"></span>
                </div>
                <div class="mb-3 row">
                  <span id="pointGuide"></span>
                </div>
              </div>
              <div class="modal-footer row">
                <div class="col-auto me-auto">
                    <button type="button" class="btn btn-primary" id="btnSaveWork">등록</button>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- modal -->
    </div>
    <script language="javascript" type="text/javascript" layout:fragment="page_script">
      let token = $("meta[name='_csrf']").attr("content"); 
      let header = $("meta[name='_csrf_header']").attr("content");
        
      $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(header, token); 
      });

      let fnObj = {
        pageStart:  function(){ // 페이지 초기 실행 스크립트
          fnObj.page.init();
          $("#workTitl").bind("change", function(){
            fnObj.action.reloadMainList();
          });
          $("#workDate").bind("change", function(){
            fnObj.action.reloadMainList();
          });
          $("#btnCreateWork").bind("click", function(){
            fnObj.action.makeWork();
          });
          $("#btnSaveWork").bind("click", function(){
            fnObj.action.saveWork();
          });
          $("#workCont").bind("keyup", function(){
            fnObj.action.adjustHeight();
          });
        },
        page: {
          init: function(){ // 버튼 바인딩 등
            fnObj.action.loadMyTodo().then(function(){
              fnObj.grid.init_worklist();
            });
          }
        },
        action: { // 호출이나 화면 동작
          reloadMainList: function(){
            $('#table-work').bootstrapTable('refresh');
          },
          adjustHeight: function() {
            var textEle = $('#workCont');
            textEle[0].style.height = 'auto';
            var textEleHeight = textEle.prop('scrollHeight');
            textEle.css('height', textEleHeight);
          },
          loadMyTodo: function(){
            return $.ajax({
              url: "[[@{/worker/today_work/list_mytodo.json}]]",
              type: "GET",
              async: true,
              dataType : "json"
            }).done(function(data, textStatus, xhr){
              if(textStatus === "success"){
                fnObj.data = {};
                fnObj.data.myWork = data;
              }
            }).fail(function(xhr, textStatus, errorThrown) {
              Swal.fire({
                title: xhr.responseJSON.httpStatus,
                text: xhr.responseJSON.message,
                icon: 'error',
                confirmButtonText: '닫기'
              });
            });
          },
          getTodoInfo: function(todoSeq){
            if(fnObj.data.myWork){
              for(let i = 0; i < fnObj.data.myWork.length ; i++){
                if(fnObj.data.myWork[i].todoSeq === todoSeq){
                  return fnObj.data.myWork[i];
                }
              }
            }
            return null;
          },
          popRowClick: async function(row){
            let todoInfo = fnObj.action.getTodoInfo(row.todoSeq);
            
            if(todoInfo.todoTypCd === 'SLEEP' 
              || todoInfo.todoTypCd === 'CLEAN'){
              let msg = '';
              let til = '';
              
              if(todoInfo.todoTypCd === 'SLEEP'){
                til = "취침 미션은 작업자 등록 불가 항목 입니다.";
                msg =  todoInfo.todoDesc;
              }else if(todoInfo.todoTypCd === 'CLEAN'){
                til = "청소 미션은 작업자 등록 불가 항목 입니다.";
                msg = todoInfo.todoDesc;
              }else{
                til = "작업자 등록 불가 항목",
                msg = "등록 불가 항목 입니다.";
              }
              
              Swal.fire({
                title: til,
                text: msg,
                icon: 'error',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            if(todoInfo.quizUseYn === 'Y'){
              $("#quizUseYn").val("Y");
              if(row.workCont === null){
                $.ajax({
                  url: "[[@{/worker/today_work/get_random_quiz.json}]]",
                  type: "GET",
                  async: true,
                  dataType : "json",
                  data : {quizTypCd: todoInfo.quizTypCd}
                }).done(async function(data, textStatus, xhr){
                  if(textStatus === 'success'){
                   
                    let placeholder = data.quizAnswer.slice(0,1);
                    for(let i = 1; i < data.quizAnswer.length; i++){
                      placeholder += '*';
                    }
                    $("#quizSeq").val(data.quizSeq);
                    
                    const { value: quizAnswer } = await Swal.fire({
                      title: data.quizTitl,
                      input: "text",
                      inputLabel: data.quizCont,
                      inputPlaceholder: placeholder,
                      inputValidator: (value) => {
                        if (value !== data.quizAnswer) {
                          return "정답이 아닙니다.";
                        }
                      }
                    });
                    
                    $("#workCont").val(todoInfo.todoTmpCont + quizAnswer);
                    $("#workCont").attr("readonly",true);
                  }
                }).fail(function(xhr, textStatus, errorThrown) {
                  Swal.fire({
                    title: xhr.responseJSON.httpStatus,
                    text: xhr.responseJSON.message,
                    icon: 'error',
                    confirmButtonText: '닫기'
                  });
                });                
              }
            }else{
              $("#quizUseYn").val("N");
              $("#workCont").attr("readonly",false);
            }
            
            $("#workSeq").val(row.workSeq);
            $("#todoSeq").val(row.todoSeq);
            $("#workTitl").val(row.workTitl);
            $("#workTitl").attr("readonly",true);
            if(todoInfo !== null){
              $("#todoGuide").html("완료조건 : " + todoInfo.completCondiVal);
              if(row.workCont === null){
                $("#workCont").val(todoInfo.todoTmpCont);
              }
              
              if(todoInfo.todoTypCd === 'DIARY'){
                $("#workCont").attr('placeholder', '날씨, 한 일, 반성, 결심, 소감 등을 입력 합니다.');
              }else if(todoInfo.todoTypCd === 'EXERCISE'){
                $("#workCont").attr('placeholder', '운동 종류, 시간, 거리 등을 기록 합니다.');
              }else if(todoInfo.todoTypCd === 'READING'){
                $("#workCont").attr('placeholder', '책 제목, 읽은 페이지의 처음과 끝, 소감 등을 입력합니다.');
              }else{
                $("#workCont").attr('placeholder', '내용을 입력해 주세요.');
              }
            }
            $("#pointGuide").html("완료시 <strong>" + row.gainPoint  + "</strong> 포인트가 지급됩니다.");
            $("#createWork").modal("show");
          },
          makeWork: async function(){
            let optionWorks = {};
            if(fnObj.data.myWork && fnObj.data.myWork.length > 0){
              fnObj.data.myWork.forEach(function(item){
                if(item.todoCreCd === 'DIRECT'){
                  optionWorks[item.todoSeq] = item.todoTitl;
                }
              });
            } 
            
            const { value: choiceTodoSeq } = await Swal.fire({
              title: "입력할 작업을 선택해 주세요.",
              input: "select",
              inputOptions: optionWorks,
              inputPlaceholder: "작업 선택",
              inputValidator: (value) => {
                if (!value) {
                  return "작업을 선택해 주세요.";
                }
              }
            });
            $("#workTitl").attr("readonly",false);
            $("#workCont").attr("readonly",false);
            
            let todoInfo = fnObj.action.getTodoInfo(parseInt(choiceTodoSeq));
            
            if(todoInfo.todoTypCd === 'EXAM'){
              $("#workCont").attr('placeholder', '숫자만 입력');
              $("#todoGuide").val('100점 만점을 기준으로 합니다. 100점 만점이 아닐 경우 환산해서 입력해 주세요. 예) 100 * (받은점수/만점)');
            }else{
              $("#workCont").attr('placeholder', '내용 입력');
              $("#todoGuide").val('작업한 내용을 입력해 주세요.');
            }
            
            $("#todoSeq").val(parseInt(choiceTodoSeq));
            $("#createWork").modal("show");
          },
          saveWork: function(){
            if($("#todoSeq").val() === ''){
              Swal.fire({
                title: '필수 항목 입력',
                text: '할일 정보가 없습니다. 화면을 다시 시작해 주세요.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            let todoInfo = fnObj.action.getTodoInfo(parseInt($("#todoSeq").val()));
            
            if($("#quizUseYn").val() === 'Y'){
              if($("#quizSeq").val() === ''){
                Swal.fire({
                  title: '필수 항목 입력',
                  text: '퀴즈 정보가 없습니다. 화면을 다시 시작해 주세요.',
                  icon: 'info',
                  confirmButtonText: '닫기'
                });
                return;
              }
            }
            
            if($("#workTitl").val() === ''){
              Swal.fire({
                title: '필수 항목 입력',
                text: '작업 제목을 입력해 주세요.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            if($("#workCont").val() === ''){
              Swal.fire({
                title: '필수 항목 입력',
                text: '작업 내용을 입력해 주세요.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }
            
            if(todoInfo.confmMethCd === 'SCORE'){ // 숫자만
              if(!$.isNumeric($("#workCont").val())){
                Swal.fire({
                  title: '숫자 입력',
                  text: '숫자만 입력해 주세요.',
                  icon: 'info',
                  confirmButtonText: '닫기'
                });
                return;
              }
            }else if(todoInfo.confmMethCd === 'ENG_CNT'){ // 영어 글자수
              let cntWord = $("#workCont").val().replace(/[^a-z0-9]/gi,'').length;
              if(parseInt(todoInfo.confmDtlVal) > cntWord){
                Swal.fire({
                  title: '영어 글자 수',
                  text: '영문 '+ todoInfo.confmDtlVal + '글자 이상 입력해야 합니다.',
                  icon: 'info',
                  confirmButtonText: '닫기'
                });
                return;
              }
            }else if(todoInfo.confmMethCd === 'WORD_CNT'){ // 글자수 
              let cntWord = $("#workCont").val().length;              
              if(parseInt(todoInfo.confmDtlVal) > cntWord){
                Swal.fire({
                  title: '내용 글자 수',
                  text: todoInfo.confmDtlVal + '글자 이상 입력해야 합니다.',
                  icon: 'info',
                  confirmButtonText: '닫기'
                });
                return;
              }              
            }else if(todoInfo.confmMethCd === 'INTIME'){ // 입력 시간 체크
              let now = new Date();
              let dateStr = now.getFullYear() + '-' + ('0' + (now.getMonth() + 1)).slice(-2) + '-' + ('0' + now.getDate()).slice(-2);
              let beginDt = new Date(dateStr + ' ' + todoInfo.limitBeginTm);
              let endDt = new Date(dateStr + ' ' + todoInfo.limitEndTm);
              
              if(!(beginDt <= now) || !(endDt >= now)){
                Swal.fire({
                  title: '입력 시간',
                  text: '입력 가능 시간이 아닙니다.',
                  icon: 'info',
                  confirmButtonText: '닫기'
                });
                return;
              }            
            }
            
            let tdWork = {};
            tdWork.workSeq = $("#workSeq").val();
            tdWork.todoSeq = $("#todoSeq").val();
            tdWork.quizSeq = $("#quizSeq").val();            
            tdWork.workTitl = $("#workTitl").val();
            tdWork.workCont = $("#workCont").val();
      
            $.ajax({
              url: "[[@{/worker/today_work/save_work.json}]]",
              type: "PUT",
              async: true,
              dataType : "json",
              data : tdWork
            }).done(function(data, textStatus, xhr){
              
              if(data.success === true){
                fnObj.action.reloadMainList();
                Swal.fire({
                  title: '축하합니다.!',
                  text: data.message,
                  icon: 'success',
                  confirmButtonText: '확인'
                });
                $("#createWork").modal("hide");
              }else{
                Swal.fire({
                  title: "등록실패",
                  text: data.message,
                  icon: 'error',
                  confirmButtonText: '닫기'
                });
              }
            }).fail(function(xhr, textStatus, errorThrown) {
              Swal.fire({
                title: xhr.responseJSON.httpStatus,
                text: xhr.responseJSON.message,
                icon: 'error',
                confirmButtonText: '닫기'
              });
            });
          }
        },
        grid: { // 그리드 관련
          init_worklist: function(){
            $('#table-work').bootstrapTable('destroy').bootstrapTable({
              height: 'auto',
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              headerStyle : function(){
                return {classes: 'table-primary'};
              },
              columns: [
                {field: 'workSeq',   title: '작업순번',  visible: false},
                {field: 'workerSeq', title: '작업자순번', visible: false},
                {field: 'workTitl',  title: '작업명', align: 'left',valign: 'middle', sortable: true},
                {field: 'workStatCd',title: '상태',align: 'center',valign: 'middle', sortable: true
                  ,formatter: function(value, row, index) {
                    if(value === 'READY'){
                      return '대기'
                    }else if(value === 'ONGOING'){
                      return '확인중';
                    }else if(value === 'FAIL'){
                      return '실패';
                    }else if(value === 'DONE'){
                      return '완료';
                    }else{
                      return value
                    }
                  }
                },
                {field: 'gainPoint', title: '포인트',  align: 'center'  ,valign: 'middle', sortable: true
                 ,formatter: function(value, row, index) {
                    return value.toLocaleString();
                  }
                },
                {field: 'workDt',    title: '작업일시',  align: 'center'  ,valign: 'middle', sortable: true, visible: false},
                {field: 'confmDt',   title: '확인일시',  align: 'center'  ,valign: 'middle', sortable: true, visible: false},
                
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              },
              queryParams: function(params){
                if($("#workDate").val() !== ''){
                  params.workDate = $("#workDate").val();
                }                
                return params;
              }
            });
            $('#table-work').on('post-body.bs.table', function(data){
              $("th.detail").addClass('table-primary');
            });
            // row click
            $('#table-work').on('click-row.bs.table', function(event, row, field){
              if(row.workStatCd !== 'READY'){
                return;
              }              
              fnObj.action.popRowClick(row);
            });
          }
        }
      }
        
      window.addEventListener("load", function(){
        fnObj.pageStart();
      });
    </script>
  <!-- Content 종료 -->
  </body>
</html>