<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>오늘의 작업</title>
  </head>

  <body>
    <!-- Content 시작 -->
    <div layout:fragment="content" class="col">
      <div class="row">
          <h4 class="text-primary">작업 목록</h4>
          <div class="row">
            <div class="col mb-2">
              <div class="input-group">
                <div class="input-group-text">작업명</div>
                <input type="text" class="form-control" id="workTitl" placeholder="작업 제목" aria-label="작업 제목">
              </div>
            </div>
          </div>          
          <div class="row">
            <div class="col mb-2">
              <div class="input-group">
                <div class="input-group-text">작업일</div>
                <input type="date" class="form-control" id="workDate">
              </div>
            </div>
          </div>
          <table
            id="table-work"
            data-search="true"
            data-show-columns="true"
            data-click-to-select="true"
            data-id-field="workSeq"
            th:data-url="@{/worker/today_work/list_today_works.json}">
          </table>
      </div>
      <!-- modal -->
      <div class="modal-staging">
          
      </div>
      <!-- modal -->
    </div>
    <script language="javascript" type="text/javascript" layout:fragment="page_script">
      let token = $("meta[name='_csrf']").attr("content"); 
      let header = $("meta[name='_csrf_header']").attr("content");
        
      $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(header, token); 
      });

      var fnObj = {
        pageStart:  function(){ // 페이지 초기 실행 스크립트
          fnObj.page.init();
          
          $("#workTitl").bind("change", function(){
            fnObj.action.reloadWdorkList();
          });
          
          $("#workDate").bind("change", function(){
            fnObj.action.reloadWdorkList();
          });
        },
        page: {
          init: function(){ // 버튼 바인딩 등
            fnObj.grid.init_worklist();
          }
        },
        action: { // 호출이나 화면 동작
          reloadWdorkList: function(){
            $('#table-work').bootstrapTable('refresh')
          }
        },
        grid: { // 그리드 관련
          init_worklist: function(){
            $('#table-work').bootstrapTable('destroy').bootstrapTable({
              height: 'auto',
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              headerStyle : function(){
                return {classes: 'table-primary'};
              },
              columns: [
                {field: 'workSeq',   title: '작업순번',  visible: false},
                {field: 'workerSeq', title: '작업자순번', visible: false},
                {field: 'workTitl',  title: '작업명', align: 'left',valign: 'middle', sortable: true},
                {field: 'workStatCd',title: '상태',align: 'center',valign: 'middle', sortable: true
                  ,formatter: function(value, row, index) {
                    if(value === 'READY'){
                      return '대기'
                    }else if(value === 'ONGOING'){
                      return '진행중';
                    }else if(value === 'FAIL'){
                      return '실패';
                    }else if(value === 'DONE'){
                      return '완료';
                    }else{
                      return value
                    }
                  }
                },
                {field: 'gainPoint', title: '포인트',  align: 'center'  ,valign: 'middle', sortable: true
                 ,formatter: function(value, row, index) {
                    return value.toLocaleString();
                  }
                },                
                {field: 'workDt',    title: '작업일시',  align: 'center'  ,valign: 'middle', sortable: true, visible: false},
                {field: 'confmDt',   title: '확인일시',  align: 'center'  ,valign: 'middle', sortable: true, visible: false},
                
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              },
              queryParams: function(params){
                if($("#workTitl").val() !== ''){
                  params.workTitl = $("#workTitl").val();
                }

                if($("#workDate").val() !== ''){
                  params.workDate = $("#workDate").val();
                }                
                return params;
              }
            });
          }
        }
      }
        
      window.addEventListener("load", function(){
        fnObj.pageStart();
      });
    </script>
  <!-- Content 종료 -->
  </body>
</html>