<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>역할관리</title>
  </head>
  <body>
    <!-- Content 시작 -->
    <div layout:fragment="content" class="col">
      <div class="row">
        <div class="col-4">
          <div id="toolbar">
            <button id="btnNewRole" class="btn btn-outline-info">
              <i class="bi bi-file-earmark-plus"></i> 신규
            </button>
          </div>
          <table
            id="table_role"
            data-toolbar="#toolbar"
            data-search="true"
            data-click-to-select="true"
            data-id-field="roleSeq"
            th:data-url="@{/system/role_mgt/role_list.json}">
          </table>
        </div>
        <div class="col-8">
          <div class="row" id="child-box">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" id="tabRoleInfo">역할 상세</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabRoleUsers" >역할 사용자</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tabRoleMenus">역할 메뉴</a>
              </li>
            </ul>
          </div>
          <div class="row border border-top-0 border-secondary-subtle" style="height: 558px;">
            <div id="tabRoleInfoDiv">
              <h4 class="mt-4 mb-3" id="form-title">역할 정보 입력</h4>
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="roleNm" class="form-label">역할 명</label>
                  <input type="text" class="form-control" id="roleNm">
                  <input type="hidden" id="roleSeq">
                </div>
                <div class="col-sm-6">
                  <label for="roleCd" class="form-label">역할 코드</label>
                  <input type="text" class="form-control" id="roleCd">
                </div>

                <div class="col-12">
                  <label for="defPage" class="form-label">대시 보드</label>
                  <input type="url" class="form-control" id="defPage">
                </div>

                <div class="col-12">
                  <label for="roleDesc" class="form-label">역할 설명</label>
                  <textarea class="form-control" id="roleDesc" rows="3"></textarea>
                </div>
              </div>
              <div class="row justify-content-between mt-5 pt-5">
                <div class="col-auto me-auto">
                  <button class="w-10 btn btn-danger" type="button" id="btnDeleteRole">
                       <i class="bi bi-trash"></i> 삭제
                     </button>
                </div>
                <div class="col-auto">
                  <button class="w-10 btn btn-primary" type="button" id="btnSaveRole">
                    <i class="bi bi-save"></i> 저장
                  </button>
                </div>
              </div>
            </div>
            <div id="tabRoleUsersDiv" class="row">
              <div class="col-5">
                <h4 class="text-center m-2" id="form-title">역할 사용자</h4>
                <table
                  id="table_role_user"
                  data-search="true"
                  data-click-to-select="true"
                  data-id-field="userSeq"
                  th:data-url="@{/system/role_mgt/role_user_list.json}">
                </table>
              </div>
              <div class="col-2 align-self-center">
                <button id="btnAddRoleUser" class="btn btn-outline-success mb-2">
                  <i class="bi bi-arrow-left-square-fill"></i> 추가
                </button>
                <button id="btnRemoveRoleUser" class="btn btn-outline-danger mt-2">
                  제외 <i class="bi bi-arrow-right-square-fill"></i>
                </button>
              </div>
              <div class="col-5">
                <h4 class="text-center m-2" id="form-title">후보 사용자</h4>
                <table
                  id="table_tgt_user"
                  data-search="true"
                  data-click-to-select="true"
                  data-id-field="userSeq"
                  th:data-url="@{/system/role_mgt/exclude_user_list.json}">
                </table>
              </div>
            </div>
            <div id="tabRoleMenusDiv" class="row">
              <div class="col-5">
                <h4 class="text-center m-2" id="form-title">역할 메뉴</h4>
                <table
                  id="table_role_menu"
                  data-search="true"
                  data-click-to-select="true"
                  data-id-field="menuSeq"
                  th:data-url="@{/system/role_mgt/role_menu_list.json}">
                </table>
              </div>
              <div class="col-2 align-self-center">
                <button id="btnAddRoleMenu" class="btn btn-outline-success mb-2">
                  <i class="bi bi-arrow-left-square-fill"></i> 추가
                </button>
                <button id="btnRemoveRoleMenu" class="btn btn-outline-danger mt-2">
                  제외 <i class="bi bi-arrow-right-square-fill"></i>
                </button>
              </div>
              <div class="col-5">
                <h4 class="text-center m-2" id="form-title">후보 메뉴</h4>
                <table
                  id="table_tgt_menu"
                  data-search="true"
                  data-click-to-select="true"
                  data-id-field="menuSeq"
                  th:data-url="@{/system/role_mgt/exclude_menu_list.json}">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script language="javascript" type="text/javascript" layout:fragment="page_script">
      let token = $("meta[name='_csrf']").attr("content"); 
      let header = $("meta[name='_csrf_header']").attr("content");
      $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(header, token); 
      });
		    
      var fnObj = {
        pageStart:  function(){ // 페이지 초기 실행 스크립트
          fnObj.page.init();
          fnObj.grid.init_role();
          $("#btnNewRole").click();
        },
        page: {
          init: function(){ // 버튼 바인딩 등
            // 생성
            $("#btnSaveRole").bind("click", function(){
              fnObj.action.saveRole();
            });

            // 삭제
            $("#btnDeleteRole").bind("click", function(){
              fnObj.action.removeRole();
            });

            $("#btnDeleteRole").hide();

            // 사용자 추가
            $("#btnAddRoleUser").bind("click", function(){
              fnObj.action.addUserRole();
            });

            // 사용자 제외
            $("#btnRemoveRoleUser").bind("click", function(){
              fnObj.action.removeUserRole();
            });

            // 메뉴 추가
            $("#btnAddRoleMenu").bind("click", function(){
              fnObj.action.addMenuRole();
            });

            // 메뉴 삭제
            $("#btnRemoveRoleMenu").bind("click", function(){
              fnObj.action.removeMenuRole();
            });

            // 역할 정보 탭
            $("#tabRoleInfo").bind("click", function(){
              fnObj.action.clickTabRolInfo();
            });

            // 역할 사용자 탭
            $("#tabRoleUsers").bind("click", function(){
              fnObj.action.clickTabRoleUsers();
            });

            // 역할 메뉴 탭
            $("#tabRoleMenus").bind("click", function(){
              fnObj.action.clickTabRoleMenus();
            });

            // 신규 역할
            $("#btnNewRole").bind("click", function(){
              fnObj.action.initForm();
              $("#tabRoleInfo").click();
              $("#form-title").text("신규 역할 정보");
              $("#btnDeleteRole").hide();
            });
          }
        },
        action: { // 호출이나 화면 동작
          initForm: function(){
            $("#form-title").text("");
            $("#roleSeq").val('');
            $("#roleCd").val('');
            $("#roleNm").val('');
            $("#roleDesc").val('');
            $("#defPage").val('');
          },
          setForm: function(cmRole){
            $("#form-title").text("["+ cmRole.roleNm +"] 역할정보");
            $("#roleSeq").val(cmRole.roleSeq);
            $("#roleCd").val(cmRole.roleCd);
            $("#roleNm").val(cmRole.roleNm);
            $("#roleDesc").val(cmRole.roleDesc);
            $("#defPage").val(cmRole.defPage);
          },
          clickTabRolInfo: function(){
            $("#tabRoleInfo").addClass("active");
            $("#tabRoleInfo").prop("aria-current", "page");
            $("#tabRoleInfoDiv").show();

            $("#tabRoleUsers").removeClass("active");
            $("#tabRoleUsers").removeAttr("aria-current");
            $("#tabRoleUsersDiv").hide();

            $("#tabRoleMenus").removeClass("active");
            $("#tabRoleMenus").removeAttr("aria-current");
            $("#tabRoleMenusDiv").hide();
          },
          clickTabRoleUsers: function(){
            if($("#roleSeq").val() === ''){
              Swal.fire({
                title: '역할이 선택되지 않았습니다.',
                text: "역할을 먼저 선택해 주세요.",
                icon: 'warning',
                showConfirmButton: false,
                timer: 1500
              });
              return;
            }

            fnObj.grid.init_reg_user();
            fnObj.grid.init_tgt_user();

            $("#tabRoleInfo").removeClass("active");
            $("#tabRoleInfo").removeAttr("aria-current");
            $("#tabRoleInfoDiv").hide();

            $("#tabRoleUsers").addClass("active");
            $("#tabRoleUsers").prop("aria-current", "page");
            $("#tabRoleUsersDiv").show();

            $("#tabRoleMenus").removeClass("active");
            $("#tabRoleMenus").removeAttr("aria-current");
            $("#tabRoleMenusDiv").hide();
          },
          clickTabRoleMenus: function(){
            if($("#roleSeq").val() === ''){
              Swal.fire({
                title: '역할이 선택되지 않았습니다.',
                text: "역할을 먼저 선택해 주세요.",
                icon: 'warning',
                showConfirmButton: false,
                timer: 1500
              });
              return;
            }

            fnObj.grid.init_reg_menu();
            fnObj.grid.init_tgt_menu();

            $("#tabRoleInfo").removeClass("active");
            $("#tabRoleInfo").removeAttr("aria-current");
            $("#tabRoleInfoDiv").hide();

            $("#tabRoleUsers").removeClass("active");
            $("#tabRoleUsers").removeAttr("aria-current");
            $("#tabRoleUsersDiv").hide();

            $("#tabRoleMenus").addClass("active");
            $("#tabRoleMenus").prop("aria-current", "page");
            $("#tabRoleMenusDiv").show();
          },
          saveRole: function(){
            if($("#roleNm").val() === ''){
              Swal.fire({
                title: '필수 입력 항목',
                text: '역할명은 필수 입력 항목입니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }

            if($("#roleCd").val() === ''){
              Swal.fire({
                title: '필수 입력 항목',
                text: '역할 코드는 필수 입력 항목입니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }

            if($("#defPage").val() === ''){
              Swal.fire({
                title: '필수 입력 항목',
                text: '대시보드 주소는 필수 입력 항목입니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }

            let cmRole = {};
            cmRole.roleSeq  = $("#roleSeq").val();
            cmRole.roleNm   = $("#roleNm").val();
            cmRole.roleCd   = $("#roleCd").val();
            cmRole.defPage  = $("#defPage").val();
            cmRole.roleDesc = $("#roleDesc").val();

            $.ajax({
              url: "[[@{/system/role_mgt/save_role.json}]]",
              type: "POST",
              async: true,
              dataType : "json",
              data : cmRole
            }).done(function(data, textStatus, xhr){
              $("#btnNewRole").click();
              $('#table_role').bootstrapTable('refresh');
              Swal.fire({
                title: '저장 완료',
                text: '저장 되었습니다.',
                icon: 'info',
                showConfirmButton: false,
                timer: 1500
              });
            }).fail(function(xhr, textStatus, errorThrown) {
              Swal.fire({
                title: xhr.responseJSON.httpStatus,
                text: xhr.responseJSON.mgessage,
                icon: 'error',
                confirmButtonText: '닫기'
              });
            });
          },
          removeRole: function(){
            if($("#roleSeq").val() === ''){
              Swal.fire({
                title: '필수 입력 항목',
                text: '삭제할 역할이 선택되지 않았습니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            };

            Swal.fire({
              title: '정말 삭제 하시겠습니까?',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonText: '삭제',
            }).then((result) => {
              if (result.isConfirmed) {
                $.ajax({
                  url: "[[@{/system/role_mgt/remove_role.json}]]",
                  type: "DELETE",
                  async: true,
                  dataType : "json",
                  data : {roleSeq : $("#roleSeq").val()}
                }).done(function(data, textStatus, xhr){
                  $("#btnNewRole").click();
                  $('#table_role').bootstrapTable('refresh');
                  Swal.fire({
                    title: '삭제 완료',
                    text: '삭제 처리가 완료 되었습니다.',
                    icon: 'info',
                    showConfirmButton: false,
                    timer: 1500
                  });
                }).fail(function(xhr, textStatus, errorThrown) {
                  Swal.fire({
                    title: xhr.responseJSON.httpStatus,
                    text: xhr.responseJSON.mgessage,
                    icon: 'error',
                    confirmButtonText: '닫기'
                  });
                });
              }
            });
          },
          addUserRole: function(){
            if($("#roleSeq").val() === ''){
              Swal.fire({
                title: '필수 입력 항목',
                text: '역할이 선택되지 않았습니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            };

            let userSeqs =
              $.map($('#table_tgt_user').bootstrapTable('getSelections'), function (row) {
                return row.userSeq;
              });

            if(userSeqs.length === 0){
              Swal.fire({
                title: '필수 입력 항목',
                text: '사용자가 선택되지 않았습니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }

            let chooseUsersRole = {};
            chooseUsersRole.roleSeq = $("#roleSeq").val();
            chooseUsersRole.userSeqList = userSeqs;

            $.ajax({
              url: "[[@{/system/role_mgt/add_users.json}]]",
              type: "PUT",
              async: true,
              dataType : "json",
              data : chooseUsersRole
            }).done(function(data, textStatus, xhr){
              $('#table_role_user').bootstrapTable('refresh');
              $('#table_tgt_user').bootstrapTable('refresh');
              Swal.fire({
                title: '변경 완료',
                text: '[' + data + ']건을 변경하였습니다.',
                icon: 'info',
                showConfirmButton: false,
                timer: 1500
              });
            }).fail(function(xhr, textStatus, errorThrown) {
              Swal.fire({
                title: xhr.responseJSON.httpStatus,
                text: xhr.responseJSON.mgessage,
                icon: 'error',
                confirmButtonText: '닫기'
              });
            });
          },
          removeUserRole: function(){
            if($("#roleSeq").val() === ''){
              Swal.fire({
                title: '필수 입력 항목',
                text: '역할이 선택되지 않았습니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            };

            let userSeqs =
              $.map($('#table_role_user').bootstrapTable('getSelections'), function (row) {
                return row.userSeq;
              });

            if(userSeqs.length === 0){
              Swal.fire({
                title: '필수 입력 항목',
                text: '사용자가 선택되지 않았습니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }

            let chooseUsersRole = {};
            chooseUsersRole.roleSeq = $("#roleSeq").val();
            chooseUsersRole.userSeqList = userSeqs;

            $.ajax({
              url: "[[@{/system/role_mgt/remove_users.json}]]",
              type: "DELETE",
              async: true,
              dataType : "json",
              data : chooseUsersRole
            }).done(function(data, textStatus, xhr){
              $('#table_role_user').bootstrapTable('refresh');
              $('#table_tgt_user').bootstrapTable('refresh');
              Swal.fire({
                title: '변경 완료',
                text: '[' + data + ']건을 변경하였습니다.',
                icon: 'info',
                showConfirmButton: false,
                timer: 1500
              });
            }).fail(function(xhr, textStatus, errorThrown) {
              Swal.fire({
                title: xhr.responseJSON.httpStatus,
                text: xhr.responseJSON.mgessage,
                icon: 'error',
                confirmButtonText: '닫기'
              });
            });
          },
          addMenuRole: function(){
            if($("#roleSeq").val() === ''){
              Swal.fire({
                title: '필수 입력 항목',
                text: '역할이 선택되지 않았습니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            };

            let menuSeqs =
              $.map($('#table_tgt_menu').bootstrapTable('getSelections'), function (row) {
                return row.menuSeq;
              });

            if(menuSeqs.length === 0){
              Swal.fire({
                title: '필수 입력 항목',
                text: '메뉴가 선택되지 않았습니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }

            let chooseMenusRole = {};
            chooseMenusRole.roleSeq = $("#roleSeq").val();
            chooseMenusRole.menuSeqList = menuSeqs;

            $.ajax({
              url: "[[@{/system/role_mgt/add_menus.json}]]",
              type: "PUT",
              async: true,
              dataType : "json",
              data : chooseMenusRole
            }).done(function(data, textStatus, xhr){
              $('#table_role_menu').bootstrapTable('refresh');
              $('#table_tgt_menu').bootstrapTable('refresh');
              Swal.fire({
                title: '변경 완료',
                text: '[' + data + ']건을 변경하였습니다.',
                icon: 'info',
                showConfirmButton: false,
                timer: 1500
              });
            }).fail(function(xhr, textStatus, errorThrown) {
              Swal.fire({
                title: xhr.responseJSON.httpStatus,
                text: xhr.responseJSON.mgessage,
                icon: 'error',
                confirmButtonText: '닫기'
              });
            });
          },
          removeMenuRole: function(){
            if($("#roleSeq").val() === ''){
              Swal.fire({
                title: '필수 입력 항목',
                text: '역할이 선택되지 않았습니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            };

            let menuSeqs =
              $.map($('#table_role_menu').bootstrapTable('getSelections'), function (row) {
                return row.menuSeq;
              });

            if(menuSeqs.length === 0){
              Swal.fire({
                title: '필수 입력 항목',
                text: '메뉴가 선택되지 않았습니다.',
                icon: 'info',
                confirmButtonText: '닫기'
              });
              return;
            }

            let chooseMenusRole = {};
            chooseMenusRole.roleSeq = $("#roleSeq").val();
            chooseMenusRole.menuSeqList = menuSeqs;

            $.ajax({
              url: "[[@{/system/role_mgt/remove_menus.json}]]",
              type: "DELETE",
              async: true,
              dataType : "json",
              data : chooseMenusRole
            }).done(function(data, textStatus, xhr){
              $('#table_role_menu').bootstrapTable('refresh');
              $('#table_tgt_menu').bootstrapTable('refresh');
              Swal.fire({
                title: '변경 완료',
                text: '[' + data + ']건을 변경하였습니다.',
                icon: 'info',
                showConfirmButton: false,
                timer: 1500
              });
            }).fail(function(xhr, textStatus, errorThrown) {
              Swal.fire({
                title: xhr.responseJSON.httpStatus,
                text: xhr.responseJSON.mgessage,
                icon: 'error',
                confirmButtonText: '닫기'
              });
            });
          }
        },
        grid: { // 그리드 관련
          init_role: function() {
            $('#table_role').bootstrapTable('destroy').bootstrapTable({
              height: 600,
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              headerStyle : function(){
                return {classes: 'table-primary'};
              },
              columns: [
                {field: 'roleSeq',  title: '역할순번',    align: 'center', valign: 'middle', visible: false, switchable: false},
                {field: 'roleCd',   title: '역할코드',    align: 'center', valign: 'middle', sortable: true},
                {field: 'roleNm',   title: '역할명',     align: 'center', valign: 'middle', sortable: true},
                {field: 'defPage',  title: '역할명',     align: 'center', valign: 'middle', visible: false},
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              }
            });

            $('#table_role').on('click-row.bs.table', function (row, rdata, field) {
              $("#table_role tr").removeClass("table-secondary");
              $(field[0]).addClass("table-secondary");
              fnObj.action.initForm();
              fnObj.action.setForm(rdata);
              $("#btnDeleteRole").show();
              $("#tabRoleInfo").click();
            });
          }, // end init_role
          init_reg_user: function(){
            $('#table_role_user').bootstrapTable('destroy').bootstrapTable({
              height: 500,
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              columns: [
                {field: 'state', checkbox: true, align: 'center', valign: 'middle'},
                {field: 'userSeq',  title: '사용자순번',  visible: false, switchable: false},
                {field: 'loginId',  title: 'Login ID', align: 'center', valign: 'middle'},
                {field: 'userNm',   title: '사용자명',   align: 'center', valign: 'middle'},
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              },
              queryParams: function(params){
                $('#table_role_user th').addClass('table-primary')
                if($("#roleSeq").val() !== ''){
                  params.roleSeq = $("#roleSeq").val();
                }
                return params;
              }
            });
          }, // end init_reg_user
          init_tgt_user: function(){
            $('#table_tgt_user').bootstrapTable('destroy').bootstrapTable({
              height: 500,
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              columns: [
                {field: 'state', checkbox: true, align: 'center', valign: 'middle'},
                {field: 'userSeq',  title: '사용자순번',  visible: false, switchable: false},
                {field: 'loginId',  title: 'Login ID', align: 'center', valign: 'middle'},
                {field: 'userNm',   title: '사용자명',   align: 'center', valign: 'middle'},
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              },
              queryParams: function(params){
                $('#table_tgt_user th').addClass('table-primary')

                if($("#roleSeq").val() !== ''){
                  params.roleSeq = $("#roleSeq").val();
                }

                return params;
              }
            });
          }, // end init_tgt_user
          init_reg_menu: function(){
            $('#table_role_menu').bootstrapTable('destroy').bootstrapTable({
              height: 500,
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              columns: [
                {field: 'state',        checkbox: true, align: 'center', valign: 'middle'},
                {field: 'menuSeq',      title: '메뉴순번',  visible: false, switchable: false},
                {field: 'fullMenuNm',   title: '메뉴명',   align: 'left', valign: 'middle'},
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              },
              queryParams: function(params){
                $('#table_role_menu th').addClass('table-primary')

                if($("#roleSeq").val() !== ''){
                  params.roleSeq = $("#roleSeq").val();
                }

                return params;
              }
            });
          }, // end init_reg_menu
          init_tgt_menu: function(){
            $('#table_tgt_menu').bootstrapTable('destroy').bootstrapTable({
              height: 500,
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              columns: [
                {field: 'state',        checkbox: true, align: 'center', valign: 'middle'},
                {field: 'menuSeq',      title: '메뉴순번',  visible: false, switchable: false},
                {field: 'fullMenuNm',   title: '메뉴명',   align: 'left', valign: 'middle'},
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              },
              queryParams: function(params){
                $('#table_tgt_menu th').addClass('table-primary')

                if($("#roleSeq").val() !== ''){
                  params.roleSeq = $("#roleSeq").val();
                }
                return params;
              }
            });
          } // init_tgt_menu
        } // end grid
      }
      // 페이지 초기 쿼리를 실행한다.
      $(document.body).ready(function () {
        fnObj.pageStart();
      });
    </script>
  <!-- Content 종료 -->
  </body>
</html>