<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_dashboard}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>어드민 대시보드</title>
</head>

				<!-- Content 시작 -->
				    <div layout:fragment="content"style="padding-top:50px;"  class="col">
				        <div class="container text-center">
				            <h1 class="text-primary">DASHBOARD</h1>
				            <div class="security"></div>
				            <h1>어드민 환영합니다.</h1>
				        </div>
				    </div>
				<!-- Content 종료 -->
</html>