<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_dashboard}">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>확인자 대시보드</title>
	</head>

	<!-- Content 시작 -->
	    <div layout:fragment="content"style="padding-top:50px;"  class="col">
	        <div class="container text-center" th:with="auth=${#authentication.principal}">
	            <h1 class="text-primary">DASHBOARD</h1>
	            <h1[[${auth.cmUser.userNm}]]님 환영합니다.</h1>
	            <div class="row">
                <h4 class="text-primary">작업자별 정산 포인트</h4>
                <table
                  id="table-settle"
                  data-search="false"
                  data-click-to-select="true"
                  data-id-field="workerSeq"
                  th:data-url="@{/checker/settle/list_worker_settle_info.json}">
                </table>
              </div>
	            <div class="row">
                <h4 class="text-primary">작업자별 오늘의 작업계획</h4>
                <table
                  id="table-planwork"
                  data-search="false"
                  data-click-to-select="true"
                  data-id-field="workSeq"
                  th:data-url="@{/checker/today_plan/list_today_workinfo.json}">
                </table>
              </div>
	        </div>
	    </div>
	    
      <script language="javascript" type="text/javascript" layout:fragment="page_script">
        
        let token = $("meta[name='_csrf']").attr("content"); 
        let header = $("meta[name='_csrf_header']").attr("content");
        
        $(document).ajaxSend(function (e, xhr, options) {
          xhr.setRequestHeader(header, token); 
        });
        
        var fnObj = {
          pageStart: function(){ // 페이지 초기 실행 스크립트
            fnObj.page.init();
          },
          page: {
            init: function(){
              fnObj.grid.init_Settle();
              fnObj.grid.init_PlanWork();
            }
          },
          action: {
            
          },
          grid: {
            init_Settle: function(){
              $('#table-settle').bootstrapTable('destroy').bootstrapTable({
                height: 'auto',
                locale: 'ko-KR',
                classes: 'table table-bordered table-hover',
                headerStyle : function(){
                  return {classes: 'table-primary'};
                },
                columns: [
                  {field: 'workerSeq',     title: '작업자순번',  visible: false},
                  {field: 'workerNm',      title: '작업자',     align: 'center',valign: 'middle', sortable: true},
                  {field: 'settlePoints',  title: '미정산포인트', align: 'right',valign: 'middle', sortable: true,
                    formatter: function(value, row, index) {
                      return value.toLocaleString();
                    }   
                  },
                  {field: 'unSettlePoints',title: '누적포인트',   align: 'right',valign: 'middle', sortable: true,
                    formatter: function(value, row, index) {
                      return value.toLocaleString();
                    }    
                  }
                ],
                responseHandler: function (data) { // 데이터 처리
                  return data;
                }
              });
            },
            init_PlanWork: function(){
              $('#table-planwork').bootstrapTable('destroy').bootstrapTable({
                height: 'auto',
                locale: 'ko-KR',
                classes: 'table table-bordered table-hover',
                headerStyle : function(){
                  return {classes: 'table-primary'};
                },
                columns: [
                  {field: 'workSeq',       title: '작업순번',  visible: false},
                  {field: 'workerSeq',     title: '작업자순번', visible: false},
                  {field: 'workerNm',      title: '작업자', align: 'center',valign: 'middle', sortable: true},
                  {field: 'workTitl',      title: '작업명', align: 'center',valign: 'middle', sortable: true},
                  {field: 'workStatCd',    title: '작업상태',align: 'center',valign: 'middle', sortable: true
                    ,formatter: function(value, row, index) {
                      if(value === 'READY'){
                        return '대기'
                      }else if(value === 'ONGOING'){
                        return '진행중';
                      }else if(value === 'FAIL'){
                        return '실패';
                      }else if(value === 'DONE'){
                        return '완료';
                      }else{
                        return value
                      }
                    }
                  },
                  {field: 'gainPoint',     title: '포인트',  align: 'center'  ,valign: 'middle', sortable: true
                    ,formatter: function(value, row, index) {
                      return value.toLocaleString();
                    } 
                  },
                ],
                responseHandler: function (data) { // 데이터 처리
                  return data;
                }
              });
              
              // merge
              $('#table-planwork').on('post-body.bs.table', function(data){
                let getData = $('#table-planwork').bootstrapTable('getData');
                
                if(getData.length){
                  let workerNm = null;
                  let mergeData = [];                  
                  let start = -1;
                  let end = 0;
                  for(let i = 0; i < getData.length; ){                    
                    if(workerNm !== getData[i].workerNm){
                      end = i - 1; // 마지막을 기록
                      if(start >= 0){ // 0이면 처음...
                        mergeData.push({"begin": start, "end": end});
                      }
                      start = i;
                      workerNm = getData[i].workerNm;
                    }
                    
                    if(i === (getData.length -1)){
                      end = i;
                      mergeData.push({"begin": start, "end": end});
                    }
                    i++;
                  }
                  
                  for(let i =0; i < mergeData.length; i++){
                    $('#table-planwork').bootstrapTable('mergeCells', {
                      index: mergeData[i].begin,
                      field: 'workerNm',
                      colspan: 1,
                      rowspan: ((mergeData[i].end + 1) - mergeData[i].begin)
                    })
                  }                  
                }                
              });
            }
          }
       }
        
        // 페이지 초기 쿼리를 실행한다.
        window.addEventListener("load", function(){
          fnObj.pageStart();
        });
      </script>
	<!-- Content 종료 -->
</html>