<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_dashboard}">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>확인자 대시보드</title>
	</head>

	<!-- Content 시작 -->
	    <div layout:fragment="content"style="padding-top:50px;"  class="col">
	        <div class="container text-center">
	            <h1 class="text-primary">DASHBOARD</h1>
	            <h1>확인자님 환영합니다.</h1>
	            <div class="row">
                <h4 class="text-primary">작업자별 정산 포인트</h4>
              </div>
	            <div class="row">
                <h4 class="text-primary">작업자별 오늘의 작업!</h4>
              </div>
	        </div>
	    </div>
	    
      <script language="javascript" type="text/javascript" layout:fragment="page_script">
        
        let token = $("meta[name='_csrf']").attr("content"); 
        let header = $("meta[name='_csrf_header']").attr("content");
        
        $(document).ajaxSend(function (e, xhr, options) {
          xhr.setRequestHeader(header, token); 
        });
        
        var fnObj = {
          pageStart: function(){ // 페이지 초기 실행 스크립트
            fnObj.page.init();
          },
          page: {
            init: function(){
              fnObj.action.workerSettleInfo();
            }
          },
          action: {
            workerSettleInfo : function(){
              $.ajax({
                url: "[[@{/checker/settle/list_worker_settle_info.json}]]",
                type: "GET",
                async: true,
                dataType : "json"
              }).done(function(data, textStatus, xhr){
                if(textStatus === "success"){
                   console.log(data);
                }
              }).fail(function(xhr, textStatus, errorThrown) {
                Swal.fire({
                  title: xhr.responseJSON.httpStatus,
                  text: xhr.responseJSON.message,
                  icon: 'error',
                  confirmButtonText: '닫기'
                });
              });
            }
          }
       }
        
        // 페이지 초기 쿼리를 실행한다.
        window.addEventListener("load", function(){
          fnObj.pageStart();
        });
      </script>
	<!-- Content 종료 -->
</html>