<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_dashboard}">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>실행자 대시보드</title>
  </head>

  <body>
  <!-- Content 시작 -->
    <div layout:fragment="content" style="padding-top:50px;"  class="col">
        <div class="container text-center" th:with="auth=${#authentication.principal}">
            <h1 class="text-primary">DASHBOARD</h1>
            <div class="security"></div>
            <h1>[[${auth.cmUser.userNm}]]님 환영합니다.</h1>
            <div class="row">
              <h4 class="text-primary">포인트 현황</h4>
              <table
                id="table-point"
                data-search="false"
                data-click-to-select="true"
                data-id-field="workSeq"
                th:data-url="@{/worker/today_work/point_summary.json}">
              </table>
            </div>
            <div class="row">
              <h4 class="text-primary">오늘의 작업</h4>
              <table
                id="table-work"
                data-search="false"
                data-click-to-select="true"
                data-id-field="workSeq"
                th:data-url="@{/worker/today_work/list_today_works.json}">
              </table>
            </div>
        </div>
    </div>
    <script language="javascript" type="text/javascript" layout:fragment="page_script">
      
      let token = $("meta[name='_csrf']").attr("content"); 
      let header = $("meta[name='_csrf_header']").attr("content");
      
      $(document).ajaxSend(function (e, xhr, options) {
        xhr.setRequestHeader(header, token); 
      });
      
      var fnObj = {
        pageStart: function(){ // 페이지 초기 실행 스크립트
          fnObj.page.init();
        },
        page: {
          init: function(){
            fnObj.grid.init_point();
            fnObj.grid.init_worklist();
          }
        },
        action: {
          
        },
        grid: {
          init_point: function(){
            $('#table-point').bootstrapTable('destroy').bootstrapTable({
              height: 'auto',
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              headerStyle : function(){
                return {classes: 'table-primary'};
              },
              columns: [
                {field: 'workerSeq',     title: '작업자순번',  visible: false},
                {field: 'workerNm',      title: '작업자',     visible: false},
                {field: 'settlePoints',  title: '미정산포인트', align: 'right',valign: 'middle', sortable: true,
                  formatter: function(value, row, index) {
                    return value.toLocaleString();
                  }   
                },
                {field: 'usePoints',  title: '사용포인트', align: 'right',valign: 'middle', sortable: true,
                  formatter: function(value, row, index) {
                    return value.toLocaleString();
                  }   
                },
                {field: 'unSettlePoints',title: '누적포인트',   align: 'right',valign: 'middle', sortable: true,
                  formatter: function(value, row, index) {
                    return value.toLocaleString();
                  }    
                }
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              }
            });
          },
          init_worklist: function(){
            $('#table-work').bootstrapTable('destroy').bootstrapTable({
              height: 'auto',
              locale: 'ko-KR',
              classes: 'table table-bordered table-hover',
              headerStyle : function(){
                return {classes: 'table-primary'};
              },
              columns: [
                {field: 'workSeq',       title: '작업순번',  visible: false},
                {field: 'workerSeq',     title: '작업자순번', visible: false},
                {field: 'workTitl',      title: '작업명', align: 'left',valign: 'middle', sortable: true},
                {field: 'workStatCd',    title: '작업상태',align: 'center',valign: 'middle', sortable: true},
                {field: 'gainPoint',     title: '포인트',  align: 'center'  ,valign: 'middle', sortable: true},
              ],
              responseHandler: function (data) { // 데이터 처리
                return data;
              }
            });
          }
        }
     }
      
      // 페이지 초기 쿼리를 실행한다.
      window.addEventListener("load", function(){
        fnObj.pageStart();
      });
    </script>
  </body>
  <!-- Content 종료 -->
</html>